<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultado busqueda</title>
</head>
<body>
    <p>Usted ingreso el siguiente dni: <strong>{{dni_dato}}</strong></p>
    {% if dni %}
        <p>Deudores encontrador: {{dni|length}}</p>
        <ul>
            {% for deudores in dni %}
            <li>Nombre: {{deudores.nombre}}, &nbsp; DNI: {{deudores.dni}} &nbsp; Registra Deudas: {% if deudores.regularizo_situacion %} NO {% else %} SI {% endif %}</li>
            {% endfor %}
            
        </ul>
    {% else %}
        <p>Se encuentra libre de deuda por no estar en la base de datos</p>
    {% endif %}
</body>
</html>